@font-face{
    font-family: fontHamburguer;
    src: url(../../font/HAMBH___.TTF)
}

*{
    margin: 0;
    padding: 0;
    font-family: fontHamburguer;
}

/* Posicion general, afecta al cuadro  */

.position_gen{
    display: flex; 
    justify-content: flex-start;
}

/* Posicion del logo  */

.parte_sup{
    display: flex; 
    margin-left: 60px;
    cursor: pointer;
}

/* Tamaño del logo  */

.parte_sup img{
    width: 300px;
    height: 112px;
}

/* Tamaño de la linea   */

.linea_sup img{
    width: 100%;
    height: 14px;
}


.position_menu{
    width: 310px; 
    height: 950px; 
    background: #001E38;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
/* De aqui abajo todos son posiciones y tamaño de los iconos del menu */
.icon_position0{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.icon_position0 img{
    margin-top: 60px;
    width: 50px;
    cursor: pointer;

}

.icon_position0 p{
    font-size: 30px;
    color: #FFF;
}

.icon_position1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.icon_position1 img{
    margin-top: 60px;
    width: 50px;
    cursor: pointer;
}


.icon_position1 p{
    font-size: 30px;
    color: #fff;
}

.icon_position2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.icon_position2 img{
    margin-top: 60px;
    width: 50px;
    cursor: pointer;
}


.icon_position2 p{
    font-size: 30px;
    color: #fff;
}

.icon_position3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.icon_position3 img{
    margin-top: 60px;
    width: 50px;
    cursor: pointer;
}


.icon_position3 p{
    font-size: 30px;
    color: #FF8214;
}

.icon_position4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.icon_position4 img{
    margin-top: 60px;
    width: 50px;
    cursor: pointer;
}


.icon_position4 p{
    font-size: 30px;
    color: #fff;

}

.icon_setting img{
    width: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.icon_usuario{
    display: flex;
    justify-content: flex-end;
    margin-left: 80px;
    margin-bottom: 10px;
}

.icon_usuario img{
    width: 50px;
}

/* Este es el fondo de contenido */
.shadow{
    width: 1400px;
    height: 800px;
    background: #E6E6E6;
    -webkit-box-shadow: 10px -12px 0px 4px rgba(171,169,169,0.61);
    -moz-box-shadow: 10px -12px 0px 4px rgba(171,169,169,0.61);
    box-shadow: 23px -13px 0px 4px rgba(171,169,169,0.65) ;
    border-radius: 30px;
    margin-left: -60px;  
}

.position_Shadow{
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-top: 66px;
    
}

.icons_inf{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittleC{
    margin-left: 45px;
    margin-top: 45px;
}

.tittleC h1{
    font-size: 47px;
    color: #001E38;
}

.btn1{
    width: 250px;
    height: 43px;
    border-radius: 30px;
    border: 3px solid #EC268F;
    background-color: #FFF;
    cursor: pointer;
    font-size: 25px;
    color: #001E38;
    margin-top: 40px;
}


.position_form1 input, select{
    width: 250px;
    height: 32px;
    border-radius: 15px;
    margin-left: 20px;
    font-size: 25px;
    color: #001E38;
}

option{
    font-size: 15px;  
}

.position_form1{
    position: relative;
    left: 80px;
    top: 70px;
    font-size: 30px;
    color: #001E38;
}

.btn2{
    width: 250px;
    height: 43px;
    border-radius: 30px;
    border: 3px solid #FF8214;
    background-color: #FFF;
    cursor: pointer;
    font-size: 25px;
    color: #001E38;
    position: relative;
    top: 260px; 
    left: 420px;
}

.contenedorImagenes {
    margin-top: 45px;
    float: left;
    margin-left: -465px;
}

.contenedorImagenes p{
    float: left;
    width: 240px;
}
.contenedorImagenes input{
    margin-left: -15px;
    
}

.position_1 {
    float: right;
    margin-right: 260px;
    margin-top: -40px;
}

.position_2 {
    float: right;
    margin-right: 260px;
    margin-top: 40px;
}

.position_3 {
    float: right;
    margin-right: -490px;
    margin-top: 120px;
}

.position_3 input{
    background-color: #8b8b8b;
}

.position_4 {
    float: left;
    margin-top: 250px;
}

.position_4 input{
    font-size: 27px;
    background-color: #8b8b8b;
    width: 260px;
    height: 37px;
}